.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build

HealthConnectServer/HealthConnect/target/m2e-wtp/web-resources/META-INF/maven/ece.auckland.ac.nz/HealthConnect/pom.properties

HealthConnectServer/HealthConnect/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

HealthConnectServer/HealthConnect/target/classes/jdbc.properties

HealthConnectServer/HealthConnect/.project

HealthConnectServer/HealthConnect/.classpath

*.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/service/impl/BaseServiceImpl.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/repository/dao/impl/ApnUserDaoImpl.class

*.class

*.class

*.class

*.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/repository/dao/AppointmentDao.class

*.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/repository/dao/impl/AppointmentDaoImpl.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/service/AccountService.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/service/AppointmentService.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/service/GroupService.class

HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/service/impl/AppointmentServiceImpl.class
HealthConnectServer/HealthConnect/target/classes/aucklanduni/ece/hc/repository/model/Appointment.class
